@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Shantell Sans';
    src: url('./fonts/ShantellSans-VariableFont.ttf') format('truetype');
    font-weight: 100 900; /* Вказує, що це Variable Font */
    font-style: normal;
}
body{
    font-family: 'Shantell Sans', sans-serif;
    background-color: #F2EDF3;
    color: #404040;

}

/* Кастомізація скрол-бара */
.scrollbar-thin::-webkit-scrollbar {
    width: 8px; /* Ширина скрол-бара */
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #f1f1f1; /* Колір треку */
    border-radius: 8px; /* Закруглення треку */
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #888; /* Колір повзунка */
    border-radius: 8px; /* Закруглення повзунка */
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #555; /* Колір повзунка при наведенні */
  }